    @charset "UTF-8";
    html {
        line-height: 95%;
    }
    
    * {
        box-sizing: border-box;
    }
    /* reset.css */
    
    ul {
        list-style-type: disc;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        display: list-item;
    }
    
    a {
        background-color: transparent;
        text-decoration: none;
        color: inherit;
    }
    
    button,
    input {
        border: inherit;
    }
    
    .header-top,
    .header-nav,
    .ranking-wrapper,
    .main-wrapper,
    .footer {
        width: 1125px;
        margin: 0 auto;
    }
    
    body {
        color: #979797;
        background-color: #F2F2F2;
        font-size: 13px;
        font-family: system-ui, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
        margin: 0;
        min-width: 1125px;
    }
    /* end reset.css */
    /* header css begin */
    
    .header {
        width: 100%;
        background-color: #294C7A;
        display: block;
    }
    
    .header-top {
        padding: 12px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header-logo img {
        border-style: none;
        vertical-align: bottom;
        width: 122px;
        height: 24px;
    }
    
    .header-desc {
        padding-left: 12px;
    }
    
    .header-desc>h1 {
        font-size: 12px;
        color: #BFC9D7;
        letter-spacing: -.05em;
        white-space: nowrap;
        margin: 0;
        font-weight: normal;
    }
    
    .header-signup {
        margin-left: auto;
    }
    
    .header-signup .header-signup-list {
        display: flex;
        margin: 0;
        padding: 6px 15px 8px;
        align-items: center;
        background-color: #294C7A;
        border-radius: 4px;
    }
    
    .header-signup-list .header-signup-item:not(:last-child) {
        position: relative;
        padding-right: 15px;
    }
    
    .header-signup-list .header-signup-item:not(:last-child)::after {
        content: '';
        width: 1px;
        height: 13px;
        background-color: #BFC9D7;
        position: absolute;
        top: 4px;
        right: 7px;
    }
    
    .header-signup-item>a {
        font-size: 13px;
        color: #fff;
        white-space: nowrap;
    }
    
    .header-search {
        width: 288px;
        margin-left: 10px;
    }
    
    .header-search .header-search-form {
        display: flex;
    }
    
    .header-search-form .header-search-input {
        background: #fff;
        line-height: 30px;
        height: 30px;
        font-size: 13px;
        padding-left: 15px;
        border-radius: 4px 0 0 4px;
        width: 258px;
    }
    
    .header-search-form .header-search-button {
        background-color: #3081c9;
        background-image: url(../images/common/icon_search.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 19px 19px;
        border-radius: 0 4px 4px 0;
        height: 30px;
        width: 30px;
    }
    
    .header-nav {
        margin: 0 auto;
    }
    
    .header-nav-list {
        width: 100%;
        margin: 0 auto;
        display: flex;
        padding: 0 0 13px;
    }
    
    .header-nav-item {
        display: inline-block;
        font-size: 13px;
        color: #BFC9D7;
        letter-spacing: -.05em;
    }
    
    .header-nav-list .header-nav-item:not(:last-child) {
        position: relative;
        padding-right: 20px;
    }
    
    .header-nav-list .header-nav-item:not(:last-child)::after {
        content: '';
        width: 1px;
        height: 13px;
        background-color: #BFC9D7;
        position: absolute;
        top: 2px;
        right: 7px;
    }
    
    .header-nav-item.active a {
        font-weight: bold;
        color: #fff;
    }
    
    .global-nav {
        background-color: #fff;
        box-shadow: 0 6px 2px -6px rgba(0, 0, 0, 0.15);
    }
    
    .global-nav ul {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
    
    .global-nav .nav-item {
        display: inline-block;
        padding: 0 10px;
    }
    
    .global-nav .nav-item a {
        display: inline-block;
        border-radius: 8px;
        color: #294C7A;
        text-align: center;
        letter-spacing: 0.5px;
        font-size: 13px;
        line-height: 20px;
        transition: 0.15s;
    }
    
    .global-nav .nav-item.active a,
    .global-nav .nav-item a:hover {
        font-weight: bold;
    }
    /* header css end */
    /* ranking css begin */
    
    .ranking-wrapper {
        display: table;
        table-layout: fixed;
        padding: 30px 0;
    }
    
    .article-box {
        display: table-cell;
        width: 188px;
    }
    
    .ranking-wrapper .article-box:not(:last-child) {
        padding-right: 7px;
    }
    
    .article-image-wrapper {
        height: 116px;
        overflow: hidden;
        position: relative;
        background-color: #fff;
    }
    
    .article-image {
        width: 100%;
    }
    
    .rank-num {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 0px;
        top: 0px;
        background-color: #294C7A;
        color: #fff;
        font-family: Roboto;
        font-style: italic;
        font-weight: bold;
        font-size: 17px;
        line-height: 25px;
        text-align: center;
    }
    
    .article-content-wrapper {
        background-color: #fff;
        padding: 7px 10px;
    }
    
    .article-title {
        margin: 0 auto;
        display: -webkit-box;
        height: 60px;
        font-size: 13px;
        line-height: 1.6;
        color: #3B3B3B;
        overflow: hidden;
        line-break: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
    .article-time {
        position: relative;
        padding-left: 20px;
    }
    
    .article-time::before {
        content: '';
        position: absolute;
        background: url(../images/common/icon_time.svg);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        display: inline-block;
        left: 0;
    }
    
    .article-company,
    .article-pv {
        margin: 2px 0 0;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    /* ranking css end */
    /* main begin */
    
    main {
        background-color: #fff;
    }
    
    .main-wrapper {
        display: flex;
        padding: 40px 0;
    }
    
    .contents {
        width: 779px;
    }
    
    .contents-heading {
        font-family: Hiragino Kaku Gothic ProN;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        margin: 0;
        display: flex;
        align-items: center;
        color: #3B3B3B;
        margin-bottom: 20px;
    }
    
    .contents-wrapper {
        margin-top: 10px;
    }
    
    .btn-more {
        width: 110px;
        height: 38px;
        margin: 0 auto;
        display: block;
        color: #FFFFFF;
        background: #3081C9;
        margin: 0 auto;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
        border-radius: 2px;
        font-size: 14px;
        line-height: 25px;
        align-items: center;
        text-align: center;
    }
    
    .main-articles {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .main-article {
        width: 380px;
        height: 118px;
        padding: 15px 0 13px;
        display: flex;
        position: relative;
        border-bottom: 1px solid #E4E4E4;
    }
    
    .main-article-image {
        margin-left: auto;
        width: 100px;
    }
    
    .main-article-wrapper {
        padding-right: 15px;
        width: 265px;
    }
    
    .main-article-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 160%;
        margin: 0 0 3px;
        word-break: break-all;
        color: #3B3B3B;
    }
    
    .main-article-time {
        display: inline-block;
    }
    
    .main-article-company {
        display: inline-block;
        margin: 0 12px 0;
    }
    
    .main-articles .main-article:nth-child(2n) {
        margin-left: 18px;
    }
    
    .side {
        width: 308px;
        margin-left: auto;
    }
    
    .side-keywords {
        border-bottom: 1px solid #E4E4E4;
    }
    
    .side-heading {
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        color: #3B3B3B;
        margin: 0;
        padding: 0 0 40px;
    }
    
    .side-keywords-list {
        padding-bottom: 10px;
    }
    
    .side-keywords-item {
        background: #F1F1F1;
        border-radius: 11px;
        margin: 0 10px 9px 0;
        display: inline-block;
    }
    
    .side-keywords-item>a {
        font-size: 12px;
        line-height: 180%;
        padding: 0 8px;
        display: flex;
        align-items: center;
        color: #3B3B3B;
    }
    
    .side-keywords-item:last-child {
        background: #Fff;
        border: 1px solid #f1f1f1;
    }
    /* main end */
    /* footer css begin*/
    
    .footer {
        font-size: 12px;
        line-height: 1;
    }
    
    .footer-company-services {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 70px 0 10px;
        border-bottom: 1px solid #e0e0e0;
    }
    
    .footer-colwrap-center {
        grid-column: 2/ 4;
    }
    
    .footer-col-title {
        margin: 0 0 18px;
        color: #000;
        font-size: 13px;
        font-weight: normal;
    }
    
    .footer-company-services ul {
        padding: 0;
        color: #797979;
        height: 217px;
    }
    
    .footer-colwrap-center>ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        column-fill: auto;
    }
    
    .footer-company-services li {
        margin: 0 0 18px;
    }
    
    .footer-company-contact {
        padding: 13px 0 13px;
    }
    
    .footer-company-contact>ul {
        padding: 0;
    }
    
    .footer-company-contact li {
        margin-right: 25px;
        display: inline-block;
    }
    
    .footer-copyright {
        font-size: 11px;
        color: #797979;
        padding: 5px 0 10px;
    }
    /* footer css end */